.search{
  height: 35px;
  width: 72%;
  margin: auto;
  margin-left: 14%;

  background-image: url('https://cdn-icons-png.flaticon.com/512/54/54481.png');
    background-position: 97% 7px;
    background-repeat: no-repeat;
  background-size: 20px 20px;
}
.days-cont{
  /* border: 1px solid blue; */
  max-width: 700px;
  margin: auto;
  margin-top: 25px;
  height: 220px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;

}

.days-cont>div{
  /* border: 1px solid red; */
  height: 100%;
  width: 10em;
  padding: 40px;
}
.days-cont>div:hover{
  border: 3px solid skyblue;
  cursor: pointer;
}



.day{
  font-family:Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  padding-top: 15px;

}
.climate{
  padding-top: 20px;
  display: flex;
  max-width: 20px;
  align-items: center;
  margin: auto;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;

}

.graph{
  /* border: 1px solid blue; */
  height: 400px;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
}
.hum{
  /* border: 1px solid blue; */
  min-height: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pres{
  /* border: 1px solid blue; */
  min-height: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px;
}